.header {
    height: 100px;
    padding-top: 50px;
}

button {
    width: 100%;  
}

.betalen {
    background-color:#ffe076 !important;
}

.bestelling, .bevestigen {
    background-color: #ffc90d !important;
}

.row {
    background-color: #ffefbb;
    text-align: center;
}

#voor, #hoofd, #na, #drank{
    background-color: #ffffff !important;
    width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: center;

}

#bestel {
    width: 100px;
    background-color: #ffc90d !important;
}

body, tr:nth-child(even) {
    background-color: #ffefbb !important;
  }

tr:nth-child(odd) {
background-color: #ffe076;
}

th {
    background-color: #ffffff
}

.tafel_form {
    width: 50px;
}

#bestelling, #betalen {
    display: none;
    background-color: #ffefbb;
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width : 100%;
    height: 100.2%;
}

#close {
    position:absolute;
    top: 5px;
    right: 5px;
    cursor:pointer;
    color: red;
    background: white;
    border: solid rgb(57,137,188,0.3);
    border-radius: 20px;
    font-family: Arial;
    width: 30px;
    text-align: center;
    font-weight: bold;
}

#lijst, #lijst2 {
    width: 50%;
    left: 50%;
    transform: translate(50%, 0%);
}

.keuken {
    width: 80px;
    float: right;
}

#login {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 178px;
    height: 100px;
}

.change {
    display: inline-block;
   }

#change:hover {
    cursor: pointer;
    font-weight :bold;
}

#change {
    font-size: 20px;
}